* {
  box-sizing: border-box;
}

body {
  background-color: rgb(3, 179, 203);
}

.form-group {
  background-color:lightsteelblue;
  border-radius: 5px ;
  padding: 1.5rem 7rem;
  width: 40em;
}

.spacer {
  margin-bottom: 1.5rem;
}

input {
  margin-bottom: 1.5rem; 
  border-width: 5px;
}
input, input::placeholder {
  font-size: 12px;
  width: 25rem;
}
input:hover {
  border-color: mediumslateblue;
}

select {
  border: 5px solid;
  border-top-color: black;
  border-left-color: black;
  border-bottom-color: rgb(118,118,118);
  border-right-color: rgb(118,118,118);
  width: 25rem;
  height: 3.2rem;
  border-radius: 5px;
  margin-bottom: 1.5rem;
}
select:hover {
  border-color: mediumslateblue;
}

.help-text {
  font-size: 10px;
  width: 120%;
  text-align: left;
  margin-top: -1.2rem;
  color: red;
}

.help-text-hidden {
  font-size: 10px;
  width: 100%;
  text-align: left;
  margin-top: -1.2rem;
  margin-left: 1rem;
  visibility: hidden;
}

.button-container {
  margin-top: 3rem;
}

.form-btn {
  margin: 0 1.5rem;
}

.continue-btn {
  width: 25rem;
  height: 3rem;
  border-radius: 5px;
  background-color:mediumslateblue;
  color: antiquewhite;
}
.continue-btn-disabled {
  width: 25rem;
  height: 3rem;
  border-radius: 5px;
  background-color:rgba(116, 114, 123, 0.4);
  color: antiquewhite;
}
.continue-btn-disabled:hover {
  width: 25rem;
  height: 3rem;
  border-radius: 5px;
  background-color:rgba(116, 114, 123, 0.4);
  color: antiquewhite;
  cursor: not-allowed;
}
