.container {
  /*width: 1000px;*/
  height:90vh;
  border: 1px solid black;
  background-color: lightsteelblue;
}

#steps-section {
  margin-bottom: 5rem;
}

.step-line{
  width: 33%;
  height: 2px;
  background-color: black;
}

.step-line-active{
  width: 33%;
  height: 2px;
  background-color: rgb(191,33,230);
}

.step-dot {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  display: inline-block;
  background-color: darkgray;
  color: black;
}

.step-dot-active {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  display: inline-block;
  background-color: rgb(191,33,230);
  color: black
}

#step-one-line {
  margin-top: 2rem;
}

#step-one-dot {
  margin: -1.4rem 0 0 2rem;
}

#step-two-line {
  margin-left:33%;
  margin-top: -2px;
}

#step-two-dot {
  background-color: darkgray;
  margin: -1.4rem 0 0 2rem;
}

#step-three-line {
  margin-left:66%;
  margin-top: -2px;
}

#step-three-dot {
  background-color: darkgray;
  margin: -1.4rem 0 0 2rem;
}